@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body{
    font-family: 'Fjalla One', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0

}

*{
    box-sizing: border-box;
}


#autoWidth{
    display: flex;
    justify-content: center !important;
    margin: 10px auto 40px auto;
}

.best-heading{
    margin: 0;
    padding: 1px;
    justify-content: left;
}
.best-heading strong{
    color: #ffffff;
    color: #000;
    font-size: 1.5rem;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    font-weight: 500;
    padding: 5px 10px;
    border-left: 8px solid #3E70F9;;
    margin-left: 50px;
    display: flex;
    align-items: left;
}


/* Latest Blogs */

section.latest-blogs{
    margin: 0;
    padding: 1px;
    max-width: 100%;
    background-color: #F1F4F9;
    color: #333131;
    padding-right: 20px;
    padding-left: 20px;

}

.blogs-row{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.blogs-column{
    float: left;
    width: 20%;
    max-width: 20%;
    margin: 10px;
    max-width: max-content;
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: left;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.blogs-img{
    width: 100%;
    height: 200px;
    cursor: pointer;
    position: relative;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
}

.blogs-img img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.blog-date{
    padding-bottom: 10px;
}

.blog-head{
    background-color:#3E70F9;;
    color: white;
    padding: 10px;
    width: 100%;
}

.blog-title{
    text-decoration: underline;
}

.blog-body {
    padding: 10px;
}

.blog-readmore{
    text-decoration: underline;
    padding: 10px;
}

.featured-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
}

.featured-box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}

/* Latest News */

section.latest-news{
    margin: 0;
    padding: 1px;
    width: 100%;
    max-width: 100%;
    background-color: #f7f7f7;
    padding-right: 20px;
    padding-left: 20px;

}

.news-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.news-column{
    width: 20%;
    margin: 10px;
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: left;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.news-img{
    width: 100%;
    height: 350px;
    cursor: pointer;
    position: relative;
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    max-height: 100%;
}

.news-img img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.news-date{
    color: #3E70F9;;
    padding-left: 30px;
    padding-top: 20px;
}

.news-title{
    text-decoration: underline;
    color: black;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: left;
}

@media (max-width: 1024px) {
     .item .best-heading .blogs-row .blogs-column .blogs-img .blog-head .blog-date .blog-body {
      width: 33.3%;
    }
  }

  @media (max-width: 768px) {
    .item .best-heading .blogs-row .blogs-column .blogs-img .blog-head .blog-date .blog-body {
        width: 50%;
    }
  }

  @media (max-width: 528px) {
    .item .best-heading .blogs-row .blogs-column .blogs-img .blog-head .blog-date .blog-body  {
      width: 100%;
    }
  }


  @media (max-width: 1024px) {
    .item2 .best-heading .news-row .news-column .news-img .news-date{
      width: 33.3%;
    }
  }

  @media (max-width: 768px) {
    .item2 .best-heading .news-row .news-column .news-img .news-date{
        width: 50%;
    }
  }

  @media (max-width: 528px) {
    .item2 .best-heading .news-row .news-column .news-img .news-date{
      width: 100%;
    }
  }





